@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
body{
    font-family: "Share Tech Mono", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    padding: 0;
    margin: 0;
    font-size: 13px;
}
.main_container{
   min-height: 100vh;

}
.main_container h1,
.main_container p{
    text-align: center;
}
.left_container{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    
}
.inner_container{
    padding: 100px;
    
}
.socail ul{
    text-align: center;
    padding-top: 24px;
}
.socail ul li{
    list-style: none;
    display: inline;
    padding: 10px;
}
.main_container h6 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #496175; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    text-transform: uppercase;
    font-size: 13px;
 } 
 
 .main_container h6 span { 
     background:#fff; 
     padding:0 10px; 
 }
 .go_to_login_btn,
 .forgot_btn {
     text-align: center;
 }
 .go_to_login_btn a,
 .socail a{
    color: #000000 !important;
    font-weight: bold;
}
.forgot_btn a{
    color: #000000 !important;
    font-weight: 500;
}
 .powered_by {
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    text-align: center;
}
.powered_by a{
    color: #000000 !important;
}
@media (max-width: 575.98px) { 
    .left_container,
    .inner_container{
        padding: 50px 20px 50px 20px;
    }
    .right_containter{
        display: none;
    }
    .phone_input{
        height: 40px !important;
        width: 77% !important;
    }
 }
@media (max-width: 767.98px) { 
    .left_container,
    .inner_container{
        padding: 50px 20px 50px 20px;
    }
    .right_containter{
        display: none;
    }
    .phone_input{
        height: 40px !important;
        width: 77% !important;
    }
 }
@media (max-width: 991.98px) { 
    .left_container,
    .inner_container{
        padding: 50px 20px 50px 20px;
    }
    .phone_input{
        height: 40px !important;
        width: 77% !important;
    }
 }